.b{
    background-image: url("maybemaybenot.jpg");
    background-position: center;
    background-size: cover;
}
.heading
{
font-family: Arial, Helvetica, sans-serif;
font-size: 23px;
width: 100%;
margin: 0px;
background-color: rgb(248, 69, 99);
}

#stat
{
font-size: 18px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: pink;
color: rgb(0, 0, 0);
}

